<ion-view title='Check In'>
    <!-- <ion-nav-bar class="bar-royal">
    </ion-nav-bar> -->
    <ion-nav-buttons side="primary">
          <button class="button button-icon ion-ios-arrow-left" ng-click="goBack()">
          </button>
    </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
  	<div class="list card">

  	  <div class="item">
  	    <h2 class="em-default">{{data.name}}</h2>
  	    <p>{{data.location.street}}, {{data.location.city}} {{data.location.state}}</p>
  	  </div>

  	  <div class="item item-body">
  	    <img class="full-image" src="{{data.cover.source}}">
  	    <p>
  	      {{data.description}}
  	    </p>
  	    <p>
  	      <span class="subdued">{{data.checkins}} Checkins</span>
  	    </p>
  	  </div>

  	  <div class="item item-divider">
  	      <button ng-click="checkIn()" class="button button-full button-balanced">
  	        Check in to plant a tree
  	      </button>
  	    </div>

  	</div>
  </ion-content>
</ion-view>
