<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<ion-view title="arbr">
  <ion-nav-buttons side="right">
        <button class="button button-icon ion-gear-a" ui-sref="userProfile">
        </button>
  </ion-nav-buttons>
  <ion-content has-tabs="false" scroll="false">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'></ui-gmap-google-map>
  	   <li ng-repeat="location in locations">
			{{location.pos}}
       </li>
    <!-- <div id="map" data-tap-disabled="true" ></div> -->
    <!-- <my-map> -->
  </ion-content>
</ion-view>