<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<ion-view title="arbr">
  <!-- <ion-nav-bar class="bar-royal">
  </ion-nav-bar> -->
  <ion-nav-buttons side="right">
        <button class="button button-icon ion-gear-a" ui-sref="userProfile">
        </button>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="true" has-tabs="false" scroll="false">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' events=''>
      <ui-gmap-markers models="locationArray" coords="'self'" icon="'icon'" events="'{{events}}'">
        <ui-gmap-windows show="show" options='windowOptions'>
            <div class="arbrInfoWindow" ng-controller="InfoWindowCtrl">
              <div>
                <h4 ng-non-bindable>{{name}}</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas inventore quisquam hic expedita vel, enim porro reprehenderit iste neque commodi quae aliquid tempore ad, cumque ipsam modi tenetur at quibusdam?</p>
                <button ng-click="arbrLocationPage($parent.model.fbID)" class="button button-balanced">
                  <h5 class="whiteText">Check in to plant a tree!</h5>
                </button>
              </div>
            </div>
        </ui-gmap-windows>
      </ui-gmap-markers>  
    </ui-gmap-google-map>
  </ion-content>
</ion-view>