<ion-view view-title="Profile">
    <ion-nav-buttons side="primary">
          <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()">
          </button>
    </ion-nav-buttons>
  <ion-content has-header="true">
    


    <div class="list card">

        <a class="item item-thumbnail-left" href="#">
          <img src="{{photoUrl}}"></img>
          <h2>{{data.first_name}} {{data.last_name}}</h2>
          <p>{{data.email}}</p>
        </a>


    </div>

  </ion-content>
</ion-view>