@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaProBold-webfont.eot');
    src: url('fonts/SofiaProBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SofiaProBold-webfont.woff2') format('woff2'),
         url('fonts/SofiaProBold-webfont.woff') format('woff'),
         url('fonts/SofiaProBold-webfont.ttf') format('truetype'),
         url('fonts/SofiaProBold-webfont.svg#sofia_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaProLight-webfont.eot');
    src: url('fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SofiaProLight-webfont.woff2') format('woff2'),
         url('fonts/SofiaProLight-webfont.woff') format('woff'),
         url('fonts/SofiaProLight-webfont.ttf') format('truetype'),
         url('fonts/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaProRegular-webfont.eot');
    src: url('fonts/SofiaProRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SofiaProRegular-webfont.woff2') format('woff2'),
         url('fonts/SofiaProRegular-webfont.woff') format('woff'),
         url('fonts/SofiaProRegular-webfont.ttf') format('truetype'),
         url('fonts/SofiaProRegular-webfont.svg#sofia_pro_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}